{% extends 'app/base.html' %}

{% block content %}
    <div class="col-sm-12 col-md-12">
        <div class="page-header">
            <h2>Table Tennis Rankings</h2>
        </div>
    </div>

    <div class="col-sm-12 col-md-12">
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Create Group</a>
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Login/Sign-Up</a>
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">View Groups</a>
        <a href="#" class="btn btn-primary btn-lg btn-block" role="button">View Leaderboard</a>
    </div>
{% endblock %}