{% extends 'base.html' %}

{% block page_header %}
    Groups
{% endblock %}

{% block home_link %}
    {% include 'rankings/includes/home_link.html' %}
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <table class="table table-bordered table-striped">
            {% for group in groups %}
                <tr>
                    <td>
                        <a href="{% url 'group' group.pk %}">
                            {{ group.name }}
                        </a>
                        {% if request.user.player in group.admins.all %}
                            <a href="{% url 'edit_group' group.pk %}">
                                <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" aria-label="edit"></span>    
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
