{% extends 'base.html' %}

{% block page_header %}
    {{ player.user.username }}
{% endblock %}

{% block home_link %}
    {% include 'rankings/includes/home_link.html' %}
{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div class="row">
            <h4 class="page-header">
                Ranking: 
                <span class="pull-right">
                    {{ player.ranking }}
                </span>
            </h4>    
        </div>
        
        <div class="row">   
            <h4>Groups</h4>
            {% if groups %}
                <table class="table table-bordered table-striped">
                    {% for group in groups %}
                        <tr>
                            <td>
                                <a href="{% url 'group' group.pk %}">
                                    {{ group.name }}   
                                </a>
                                {% if player in group.admins.all %}
                                    <a href="{% url 'edit_group' group.pk %}">
                                        <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" aria-label="Edit group"></span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    You are not a member of any groups, please join or add one via the groups page.
                </p>
                <p>
                    <a class="btn btn-primary btn-block" href="{% url 'groups' %}">View Groups</a>
                </p>
            {% endif %}
        </div>

        <div class="row">   
            <h4>Active Games</h4>
            {% if active_games %}
                <table class="table table-bordered table-striped">
                    {% for item in active_games %}
                        <tr>
                            <td>
                                <a href="{% url 'game' item.group.pk item.game.pk %}">
                                    {{ item.game }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    There are no active games, please start one in your chosen group.
                </p>
            {% endif %}
        </div>

        <div class="row">   
            <h4>Completed Games</h4>
            {% if completed_games %}
                <table class="table table-bordered table-striped">
                    {% for item in completed_games %}
                        <tr>
                            <td>
                                <a href="{% url 'game' item.group.pk item.game.pk %}">
                                    {{ item.game }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    You haven't played in any games yet, any completed match will show up here.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
